.reveal code {
    text-transform: none;
    color: #A6E22E;
}
.reveal h3 code {
    font: inherit;
}
.reveal pre {
    box-shadow: none;
}
body {
    background: #272822;
}
.reveal section img {
    margin: 15px 0px;
    background: inherit;
    border: none;
    box-shadow: none;
    min-height: 350px;
    max-height: 600px;
}